---
layout: default
---
<div class="container">
<p style="font-size:0.8em; color: #666666;">Muitos artigos estão incompletos, desorganizados e o site é feio.</p>
<div class="row">
<div class="col-xs-9">
<gcse:search></gcse:search>
<div class="clearfix">
{% for post in site.posts %}
<div class="media post__list">
  <div class="media-body">
  	<span class="media-date">{{ post.date | date: "%-d %B %Y" }}</span>
    <h4 class="media-heading"><a href="{{post.url}}">{{ post.title }}</a></h4>
  </div>
</div>
{% endfor %}
</div>
</div>
<div class="col-xs-3">
  {% include sidebar.html %}
  </div>
</div>
</div>